@font-face {
  font-family: 'Brygada1918';
  src: local('Brygada1918'),
    url('./src/assets/fonts/Brygada1918/Brygada1918-VariableFont_wght.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Brygada1918';
  src: local('Brygada1918'),
    url('./src/assets/fonts/Brygada1918/Brygada1918-Italic-VariableFont_wght.ttf');
  font-style: italic;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --black: #292929;
  --light-gray: hsl(0, 0%, 92%);
  --white: hsl(0, 0%, 100%);
  --motion-blur: blur(0);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Brygada1918, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.65;
  color: var(--black);
  font-style: italic;
  margin: 0;
  background-color: var(--white);
  overflow: hidden;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 900;
  margin: 0;
  font-style: normal;
  font-variant-ligatures: no-common-ligatures;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#app {
  position: relative;
}

section {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  visibility: hidden;
  will-change: transform;
  &:first-of-type {
    visibility: visible;
  }

  .outer,
  .inner {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    will-change: transform;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.logo {
}

body:not([data-active-page='page-1']) .logo {
  filter: invert(1);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
  z-index: 5;
}

.page,
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.page--1 {
  height: calc(100vh - 53px);
  transform-origin: top right;
}

.hero-heading {
  font-size: 170px;
  font-weight: 900;
  line-height: 1.5;
  color: var(--black);
  column-gap: 30px;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-bottom: 66px;
  max-width: 1200px;
}

.revolving-content__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 474px;
  height: 255px;
  flex-direction: column;
  row-gap: 61px;
  transform: translateY(150%);
  --motion-blur: 8.2px;
  filter: blur(var(--motion-blur));
}

.revolving-text__wrapper {
  display: block;
  overflow: hidden;
}

.revolving-text {
  transform: translateY(150%);
  display: block;
}

.revolving-content__item {
  margin-top: 10px;
}

.revolving-text__better {
  --motion-blur: 8.2px;
  transform: translateY(150%);
  filter: blur(var(--motion-blur));
}

.revolving-text__for,
.revolving-text__less {
  line-height: 1;
  --motion-blur: 8.2px;
  filter: blur(var(--motion-blur));
}

.revolving-content__video {
  display: block;
  width: 474px;
  height: 243px;

  video {
    border-radius: 7px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.body-content {
  max-width: 378px;

  p {
    margin: 0;
  }
}

.body-content__wrapper {
  height: 90px;
  overflow: hidden;
}

.body-content--page-1 {
  --motion-blur: 8.2px;
  filter: blur(var(--motion-blur));
  transform: translateY(150%);

  p {
    font-style: italic;
  }
}

.page--2 {
  visibility: hidden;
}

.outer--page-2 {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.background-video {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(1.1);
}

.page-2__text-content {
  position: absolute;
  inset: 0;
  width: 436px;
  height: 215px;
  z-index: 2;
  margin: auto;
}

h2 {
  font-size: 57.3px;
  line-height: 1.3;
}

.page-2__heading-container {
  width: 436px;
  margin-bottom: 11px;
  transform: translateY(150%);
}

.page-2__heading-wrapper {
  overflow: hidden;
}

.body-content--page-2 {
  width: 436px;
  transform: translateY(-150%);
}

.page-2__body-content-wrapper {
  overflow: hidden;
}

.white-box {
  border-radius: 4px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page-3__text-content {
  position: absolute;
  inset: 0;
  width: 491px;
  height: 165px;
  z-index: 2;
  margin: auto;
}

.page-3__heading-wrapper {
  overflow: hidden;
  margin-bottom: 7px;
}

.page-3__heading-container {
  transform: translateY(150%);
}

.body-content--page-3 {
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: center;
  row-gap: 7px;
  flex-wrap: wrap;

  p {
    margin: 0;
  }

  .white-box {
    white-space: nowrap;
    width: 100%;
    text-align: center;
  }
  .white-box--1 {
    width: 206px;
  }
  .white-box--2 {
    width: 278px;
  }
  .white-box--3 {
    width: 135px;
  }
  .white-box--4 {
    width: 349px;
  }
}

.body-content__line-1,
.body-content__line-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 7px;
}

.page-3-text-1-wrapper {
  width: 206px;
}

.page-3-text-2-wrapper {
  width: 278px;
}

.page-3-text-3-wrapper {
  width: 135px;
}

.page-3-text-4-wrapper {
  width: 349px;
}

.page--3 {
  transform: translateY(100%);
  z-index: 2;
}

.page-3-text-wrapper {
  overflow: hidden;

  p {
    transform: translateY(-150%);
  }
}

.page--4 {
  visibility: hidden;
  z-index: 1;
}

.page-4__heading-wrapper {
  overflow: hidden;
}
.page-4__heading-container {
  transform: translateY(150%);
  width: 430px;
}
